@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');
:root {
 
  --gradient-text: linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(0, 209, 255, 1) 100%);
  --gradient-bar: linear-gradient(90deg, rgba(238, 130, 238, 1) 0%, rgba(0, 209, 255, 1) 100%);
  --gradient-group-linkedin: linear-gradient(90deg, rgba(51, 120, 204, 1) 0%, rgba(22, 38, 77, 1) 100%);
  --gradient-group-portfolio: linear-gradient(to right, #42275a , #000428 );
  --gradient-group-instagram: linear-gradient( 45deg, #f59d3f 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100% );
  --gradient-group-github: linear-gradient(90deg, rgba(39, 39, 40, 1) 0%, rgba(0, 0, 0, 1) 100%);
  
  
  --color-bg: linear-gradient(90deg, rgba(154, 25, 69, 1) 0%, rgba(103, 58, 183, 1) 100%);
  --color-text: #81AFDD;
  --color-subtext: #03A9F4;
}
